footer{
    font-size: 12px;
    display: flex;
    padding: 30px 15px 20px 15px;
    background-color: #000000;

}

footer img{
    margin: auto;
    
}

footer p{
    
    padding-left: 120px;
    text-align: center;
    width: 700px;
    color: #fee8d8;
}

footer a{
    text-decoration: none;
    color: #fee8d8;
}

footer a:hover{
    cursor: pointer;
    transition: 200ms;
    color: #ffc48d;
}

footer ul{
    columns: 2;
}

footer li{
    padding: 6px 5px 6px 20px;
}